/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #4CAF50;
}

/* Layout styling */
.container {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    gap: 20px;
    padding: 20px;
}

#video-container {
    background-color: #333;
    width: 561px;
    height: 315px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#videoData {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
    box-sizing: border-box;
}

#debug {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: left; /* Align logs to the left for readability */
    max-height: 315px; /* Limit the height of the box */
    overflow-y: auto; /* Add vertical scrolling when logs exceed the height */
    box-sizing: border-box; /* Ensure padding is included in the height */
    white-space: pre-wrap; /* Preserve line breaks and wrap long lines */
}


/* Button styling */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

/* Button containers */
.button-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.everything-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
